@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}
<div id="main" class="site-main">
<div id="main-content" class="single-page-content">
<div id="primary" class="content-area">
<div id="content" class="page-content site-content single-post" role="main">
<!-- Home Page Top Part -->
<div class="row">
<div class=" col-xs-12 col-sm-12">
<div class="home-content">
<div class="row flex-v-align">
<div class="col-sm-12 col-md-5 col-lg-5">
<div class="home-photo">
<div class="hp-inner" style="background-image: url(./images/me.png);">
</div>
</div>
</div>
<div class="col-sm-12 col-md-7 col-lg-7">
<div class="home-text hp-left">
<p>I'm from, and live in Springfield, MO, graduated from Missouri State University, and Ozarks Technical Community College. I enjoy college football (Ohio St.), college basketball (Duke, Kansas, and UNC), professional football, and a variety of rock bands.</p>
<div class="home-buttons">
<a href="documents/resume_web.pdf" target="_blank" class="btn btn-primary">Download CV</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Home Page Top Part -->
<!-- Description of me -->
<div class="row">
<div class="col-xs-12 col-sm-12">
<div class="p-50"></div>
<div class="block-title">
<h2>What I Do</h2>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6">
<div class="info-list-w-icon">
<div class="info-block-w-icon">
<div class="ci-icon">
<i class="linecons linecons-pen"></i>
</div>
<div class="ci-text">
<h4>Automated Testing</h4>
<p>Experienced quality assurance automation engineer with a demonstrated history of working in the computer software industry. Strong quality assurance professional skilled in
    Micro Focus Unified Functional Testing, Git Source Control, Selenium, Spec Flow, Web Applications and Databases.</p>

<p>I'm currently a Test Automation Engineer, Advanced for Jack Henry & Associates, Inc., creating, building and implementing GUI automation frameworks for Web and WPF products with Unified Functional Testing (UFT) in coordination with Application Lifecycle Management (ALM) or Web automation with Selenium and C#. I have also created, and implemented Application Program Interface (API) of RESFUL services with C#.</p>
</div>
</div>
<div class="info-block-w-icon">
<div class="ci-icon">
<i class="linecons linecons-display"></i>
</div>
<div class="ci-text">
<h4>Web Technologies</h4>
<p>In my spare time I attempt to stay-up-to-date with emerging web technologies.</p>
</div>
</div>
</div>
</div>
</div>
<!-- /Description of me -->
</div>
</div>
</div>
</div>